{yun:}include file="$wapstyle/header.htm"{/yun}
<!-- Content area -->
<div class="body_wap">
<header>
   <div class="header">
    <div class="header_bg"> <a class="hd-lbtn" href="javascript:history.back();"><i class="header_top_l fa fa-chevron-left"></i></a>
       <div class="header_h1">职位详情</div>
       <label for="tm"><i class="header_top_r fa fa-th "></i></label>
     </div>
  </div>
 </header>
 
 
<section>
  <div class="user_contnet mt10">
  <!--分享到朋友圈代码 -->
  <link rel="stylesheet" href="{yun:}$config.sy_weburl{/yun}/template/wap/SELF_PUBLIC/content.css" />


<div id="mcover" onClick="document.getElementById('mcover').style.display='';" style="display:none;">
                    <img src="{yun:}$config.sy_weburl{/yun}/template/wap/SELF_PUBLIC/Img/guide.png" />
                </div>

   <div class="text" id="content">
                    <div id="mess_share">
                        <div id="share_1">
                            <button class="button2" onClick="document.getElementById('mcover').style.display='block';">
                                <img src="{yun:}$config.sy_weburl{/yun}/template/wap/SELF_PUBLIC/Img/icon_msg.png" width="64" height="64" />
                                &nbsp;发送给朋友
                            </button>
                        </div>
                        <div id="share_2">
                            <button class="button2" onClick="document.getElementById('mcover').style.display='block';">
                                <img src="{yun:}$config.sy_weburl{/yun}/template/wap/SELF_PUBLIC/Img/icon_timeline.png" width="64" height="64" />
                                &nbsp;分享到朋友圈
                            </button>
                        </div>
                        <div class="clr"></div>
                    </div>
                </div>

  <!--分享到朋友圈代码结束--> 
  
  
    <div class="user_contnet_box ">
      <div class="com_show_t1">
        <h2>{yun:}$job.name{/yun}</h2>
        <span class="com_show_time">{yun:}$job.lastupdate|date_format:"%Y-%m-%d"{/yun}</span>
		</div>
        <div class="com_show_t2">
		<i class="user_map fa fa-map-marker"></i>{yun:}$city_name[$job.provinceid]{/yun}/{yun:}$city_name[$job.cityid]{/yun}<i class="user_map fa fa-jpy" style="margin-left:20px;"></i><span class="com_show_xz cf60">{yun:}$comclass_name[$job.salary]{/yun}</span><span class="com_show_l"><i class="user_map fa fa-eye"></i>{yun:}$job.jobhits{/yun}</span></div>
         
        <!--<aside class="com_show_fl"> 
         
        <span class="com_show_fl_s">包吃住</span> 
         
        <span class="com_show_fl_s">综合补贴</span> 
         
        <span class="com_show_fl_s">五险一金</span> 
         
        <span class="com_show_fl_s">三险一金</span> 
         
      </aside>-->
            </div>
  </div>
</section>



  
  
<section>
  <div class="user_contnet">
    <div class="user_contnet_box "> <a href="{yun:}wapurl m=firm url=c:show,id:`$job.uid`{/yun}" class="com_show_firm">
      <aside class="com_show_firm_name">{yun:}$company.name{/yun}</aside>
      <span class="user_contnet_info_n">性质：</span>{yun:}$comclass_name[$company.pr]{/yun}<span class="user_contnet_info_n" style="margin-left:30px;">规模：</span>{yun:}$comclass_name[$company.mun]{/yun} <i class="com_show_firm_icon fa fa-angle-double-right"></i> </a> </div>
  </div>
</section>
<section>
  <div class="user_contnet">
    <div class="user_contnet_box ">
      <div class="wap_title"><span class="">基本信息</span></div>
      <ul class="user_contnet_ul">
        <li><span class="user_contnet_info_n">工作性质：</span>{yun:}$comclass_name[$job.type]{/yun}</li>
        <li><span class="user_contnet_info_n">工作经验：</span>{yun:}$comclass_name[$job.exp]{/yun}</li>
        <li><span class="user_contnet_info_n">学历要求：</span>{yun:}$comclass_name[$job.edu]{/yun} </li>
        <li><span class="user_contnet_info_n">招聘人数：</span>{yun:}$comclass_name[$job.number]{/yun}</li>
        <li><span class="user_contnet_info_n">性别要求：</span>{yun:}$comclass_name[$job.sex]{/yun}</li>
        <li><span class="user_contnet_info_n">教育程度：</span>{yun:}$comclass_name[$job.edu]{/yun}</li>
        <li><span class="user_contnet_info_n">工作地区：</span>{yun:}$city_name[$job.provinceid]{/yun}/{yun:}$city_name[$job.cityid]{/yun}</li>
        <li class="com_show_li"><span class="user_contnet_info_n">职位类型：</span>{yun:}$comclass_name[$job.type]{/yun}</li>
        <li class="com_show_li"><span class="user_contnet_info_n">从事行业：</span>{yun:}$industry_name[$job.hy]{/yun}</li>
        
      </ul>
    </div>
  </div>
</section>
<section>
  <div class="user_contnet">
    <div class="user_contnet_box ">
      <div class="wap_title"><span class="">职位描述</span></div>
       {yun:}$job.description{/yun}
	   </div>
  </div>
</section>





{yun:}if ($config.com_login_link==1 && $smarty.cookies.uid && $smarty.cookies.usertype==1) || $config.com_login_link==0{/yun}
<div class="user_contnet">
  <div class="user_contnet_box ">
    <div class="wap_title"><span class="">联系方式</span></div>
        <ul class="com_post_msg">
      <li>[联系人] {yun:}$company.linkman{/yun}</li>
      <li>[联系电话] {yun:}$company.linkphone{/yun}</li>
      <li>[联系手机] {yun:}$company.linktel{/yun}</li>
      <li>[公司地址] {yun:}$company.address{/yun}</li>
    </ul>
    </div>
</div>
{yun:}else{/yun}
<div class="user_contnet">
  <div class="user_contnet_box ">
    <div class="wap_title"><span class="">联系方式</span></div>
        <div class="com_post_login"> 请 <a href="{yun:}wapurl m=login{/yun}" class="com_s_logoin">登录</a> 后查看联系方式
      没有帐号？ <a href="{yun:}wapurl m=register{/yun}" class="cf60">[注册]</a> </div>
     </div>
</div>
{yun:}/if{/yun}

<div class="user_contnet">
  <div class="user_contnet_box ">
    <div class="wap_title"><span class="">长按二维码获取更多职位信息</span></div>
        <img src="{yun:}$banner.pic{/yun}" class="pro-msg-img imgbox" alt="" width="280px" style="width:280px" />
     </div>
</div>



</section>
<!--功能条 -->

<div id="yun_cz" class="fn-dbox center">
 
  <div id="resumeBtn" class="deep fn-dbox-flex fn-dbox-flex-flex1" onclick="javascript:jobapply('{yun:}$job.id{/yun}');"> <i class="fa fa-send-o"></i> 投递简历 </div>
  <div id="favBtn" class="light" onclick="javascript:jobfav('{yun:}$job.id{/yun}');"> <i class="fa fa-star-o"></i> </div>
</div>
<script>function jobapply(jobid){
	$.get("index.php?m=com&c=view&type=sq&id={yun:}$job.id{/yun}",function(data){
		var data=eval('('+data+')');
		if(data.url){
			if(data.url=='1'){url=location.href;}
			layermsg(data.msg,2,function(){location.href = data.url;});	
		}else{
			//layermsg(msg,2,function(){location.href = url;});	
			layermsg(data.msg,2);	
		}
	})};
	function jobfav(jobid){
	$.get("index.php?m=com&c=view&type=fav&id={yun:}$job.id{/yun}",function(data){
		var data=eval('('+data+')');
		if(data.url){
			if(data.url=='1'){url=location.href;}
			layermsg(data.msg,2,function(){location.href = data.url;});	
		}else{
			//layermsg(msg,2,function(){location.href = url;});	
			layermsg(data.msg,2);	
		}
	})};
</script> 
{yun:}include file="$wapstyle/footer.htm"{/yun}