{yun:}include file="$wapstyle/header.htm"{/yun}
<!-- Content area -->
<div class="body_wap">
<header>
   <div class="header">
    <div class="header_bg"> <a class="hd-lbtn" href="javascript:history.back();"><i class="header_top_l fa fa-chevron-left"></i></a>
       <div class="header_h1">微简历</div>
       <label for="tm"><i class="header_top_r fa fa-th "></i></label>
     </div>
  </div>
 </header>
<section>
  <div class="warp_content clear">
    <form method="get" action="index.php">
      <input type="hidden" name="m" value="tiny" />
      <input type="hidden"  value="tiny" name="m"/>
      <div class="formFiled">
        <input type="text" name="keyword" value="{yun:}$smarty.get.keyword{/yun}" class="input_search" placeholder="请输入关键字" />
        <input type="submit" value="搜索" class="input_btn">
      </div>
    </form>
    <div class="job_list_content">       
	{yun:}tiny item=wres  islt=4 ispage=1 limit=20 keyword=auto.keyword {/yun} 
	<div class="tiny_list"> 
	<a href="{yun:}wapurl url=m:tiny,c:show,id:`$wres.id`{/yun}">
        <div class="tiny_list_top">
          <div class="tiny_r">
            <h3><span class="c288">{yun:}$wres.username{/yun} </span><em class="user_xinx"><span class="user_line">/</span>{yun:}$wres.sex_name{/yun}<span class="user_line"></span></em></h3>
            
            <span class="tiny_list_date">{yun:}$wres.time|date_format:"%Y-%m-%d"{/yun}</span> </div>
        </div>
        <div class="tiny_box">
          <div class="tiny_box_tit">工作经验：</div>
          {yun:}$wres.exp_name{/yun} </div>
        </a> 
		</div>
      {yun:}/tiny{/yun} 
	  
	  {yun:}if $total<=0{/yun}
  {yun:}if $smarty.get.keyword!="" {/yun} 
  <div class="wap_member_no">没有搜索到微简历</div>
  {yun:}else{/yun}
  <div class="wap_member_no">暂无微简历</div>
  {yun:}/if{/yun}
  {yun:}else{/yun}
<div class="pages" style="padding-bottom:10px;"> {yun:}$pagenav{/yun}</div>
  {yun:}/if{/yun}      
			
			
       </div>
  </div>
</section>
 
  <!--功能条 -->
<div id="yun_cz" class="fn-dbox center">
  <div id="resumeBtn" class="deep fn-dbox-flex fn-dbox-flex-flex1"> <a href="###" onclick="location.href='{yun:}wapurl m=tiny url=c:add{/yun}'"  class="once_t_fb"> <i class="fa fa-pencil-square-o"></i> 发布微简历</a></div>
</div>
{yun:}include file="$wapstyle/footer.htm"{/yun}