    <div class="statusbar-overlay"></div>
    <div class="panel-overlay"></div>
    <div class="panel panel-left panel-cover">
        <nav class="list-nav-small">
                <ul>
                  <li class="home-icon-small"><a href="{yun:}curl url=id:$id,style:app{/yun}" class="close-panel">主页</a></li>
                  <li class="about-icon-small"><a href="{yun:}curl url=id:$id,tp:about,style:app{/yun}" class="close-panel">简介</a></li>
                  <li class="features-icon-small"><a href="{yun:}$config.sy_weburl{/yun}/company/index.php?id={yun:}$id{/yun}&tp=post&style=app" class="close-panel">招聘</a></li>
                  <li class="photos-icon-small"><a href="{yun:}curl url=id:$id,tp:show,style:app{/yun}" class="close-panel">环境</a></li>
                  <li class="video-icon-small"><a href="{yun:}curl url=id:$id,tp:product,style:app{/yun}" class="close-panel">产品</a></li>
                  <li class="blog-icon-small"><a href="{yun:}curl url=id:$id,tp:news,style:app{/yun}" class="close-panel">动态</a></li>
                  <li class="contact-icon-small"><a href="{yun:}curl url=id:$id,tp:connection,style:app{/yun}" class="close-panel">联系</a></li>
                </ul>
          </nav>
			 
    </div>
    <div class="panel panel-right panel-cover">
        <div class="user_login_info">
            <div class="user_thumb">
                <img src="{yun:}$com_style{/yun}images/photos/photo12.jpg" alt="" title="" />
            </div>
            <h2>
                Hi, 欢迎回来。</h2>
            <p>编辑您的个人主页</p>
            <nav class="list-nav-small">
                <ul>
                  <li class="about-icon-small"><a href="about.html" class="close-panel">我的部门</a></li>
                  <li class="tools-icon-small"><a href="features.html" class="close-panel">好友管理</a></li>
                  <li class="lock-icon-small"><a href="features.html" class="close-panel">帐户信息</a></li>
                  <li class="envelope-icon-small"><a href="features.html" class="close-panel">我的留言</a></li>
                  <li class="heart-icon-small"><a href="features.html" class="close-panel">我的收藏</a></li>
                  <li class="download-icon-small"><a href="features.html" class="close-panel">我的下载</a></li>
                  <li class="logout-icon-small"><a href="index.html" class="close-panel">退出</a></li>
                </ul>
              </nav>
        </div>
    </div>
	
	
    <div class="views">
        <div class="view view-main">
		
<div class="pages">
  <div data-page="projects" class="page no-toolbar no-navbar">
    <div class="page-content">
    
     <div class="navbarpages">
       <div class="navbar_home_link"><a href="index.html"><img src="{yun:}$com_style{/yun}images/icons/white/home.png" alt="" title="" /></a></div>
       <div class="navbar_page_center">{yun:}$com.name{/yun}</div>
       <div class="menu_open_icon_white"><a href="#" class="open-panel"><img src="{yun:}$com_style{/yun}images/menu_open.png" alt="" title="" /></a></div>
     </div>