<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
 <meta http-equiv="Content-Type" content="text/html; charset=gb2312"/>
 <meta http-equiv="Cache-Control" content="no-cache"/>
 <title>{yun:}$config.sy_webname{/yun} -  手机人才网</title>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <meta http-equiv="X-UA-compatible"content="IE=edge">
 <meta name="viewport" content="width=device-width" initial-scale="1">
 <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no, width=device-width">
 <link rel="stylesheet" href="http://www.hr135.com/app/template/wap/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="{yun:}$config.sy_weburl{/yun}/template/wap/css/css.css" type="text/css"> 
<link rel="stylesheet" href="{yun:}$config.sy_weburl{/yun}/template/wap/css/member-wap.css" type="text/css"> 
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/template/wap/js/layer/layer.m.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/template/wap/js/public.js" language="javascript"></script> 
 <script type="text/javascript">
  function show(obj){
   var obj=document.getElementById(obj);  //获得id为b的容器
	  //如果下面的内容显示的话就隐藏
	  if(obj.style.display=="block"){
	     obj.style.display="none";
	  }else 
	  obj.style.display="block";
}
 </script>
 </head>
 <body>
 {yun:}if $smarty.get.point{/yun}
<div class="msg-err" style="opacity: 1;-webkit-animation:shake 0.5s linear 0s;">{yun:}$smarty.get.point{/yun}</div>
<script language="javascript" type="text/javascript">$(document).ready(function(){setTimeout("$('.msg-err').slideUp(500)",2000);});</script>
{yun:}/if{/yun}
{yun:}if $smarty.get.layer{/yun}
<script language="javascript" type="text/javascript">$(document).ready(function(){layermsg('{yun:}$smarty.get.layer{/yun}');});</script>
{yun:}/if{/yun}
<div style="clear:both"></div>


{yun:}if $smarty.get.point{/yun}
<div class="msg-err" style="opacity: 1;-webkit-animation:shake 0.5s linear 0s;">{yun:}$smarty.get.point{/yun}</div>
{yun:}/if{/yun}
<script language="javascript" type="text/javascript">
var isLayerLoaded=false;
</script>

<div id="wrapper">
<div class="mobile">

<!-- Checkbox to toggle the menu -->
<input type="checkbox" id="tm" />
<!-- The menu -->
<div class="sidenav"> 
 
   <!--     登录前-->
   {yun:}if !$cookie.uid{/yun}
   <div class="nav_loin" style="display:block">
   <a href="{yun:}wapurl m=login{/yun}" class="nav_loin_a">登录</a>
   <a href="{yun:}wapurl m=register{/yun}"class="nav_loin_a nav_loin_zc">注册</a>
   </div>
   
   
    <!--     登录后-->
	{yun:}else{/yun}
    <div class="nav_loin" style="display:block">
    <div class="nav_login_after">
    <div class="nav_header_img">
	<div class="nav_header_bg">
	<img src="http://www.hr135.com/data/logo/20141210/14204024737.JPG"  onerror="showImgDelay(this,'http://www.hr135.com/data/logo/20141210/14204024737.JPG',2);">
	</div>
	</div>

    <a href="index.php" class="nav_loin_a">用户中心</a>
	<a href="javascript:;" onclick="islogout('{yun:}wapurl url=c:loginout{/yun}','确认退出吗？');" class="nav_loin_a nav_loin_zc">退出</a>
    </div>
    </div>
   {yun:}/if{/yun}
   <div style="clear:both"></div>
   <ul>
    <li><a href="/wap/" class="side_nav_a"><i class="nav_fa fa fa-home"></i><b>首页</b></a></li>
    <li><a href="{yun:}wapurl url=m:com{/yun}" class="side_nav_a"><i class="nav_fa fa fa-briefcase"></i><b>找职位</b></a></li>
    <li><a href="{yun:}wapurl url=m:user{/yun}" class="side_nav_a"><i class="nav_fa fa fa-graduation-cap"></i><b>找人才</b></a></li>
    <li><a href="{yun:}wapurl url=m:firm{/yun}" class="side_nav_a"><i class="nav_fa fa fa-building-o"></i><b>找企业</b></a></li>
    <li><a href="{yun:}wapurl url=m:once{/yun}" class="side_nav_a"><i class="nav_fa fa fa-tasks"></i><b>微招聘</b></a></li>
    <li><a href="{yun:}wapurl url=m:tiny{/yun}" class="side_nav_a"><i class="nav_fa fa fa-users"></i><b>微简历</b></a></li>
    <li><a href="{yun:}wapurl url=m:news{/yun}" class="side_nav_a"><i class="nav_fa fa fa-newspaper-o"></i><b>找资讯</b></a></li>
    <li><a href="#" class="side_nav_a"><i class="nav_fa fa fa-map-marker"></i><b>附近职位</b></a></li>
  </ul>
 </div>
 
 