
<!DOCTYPE html>
<html lang="zh-cn" class="no-js">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
		<title>{yun:}$com.name{/yun}</title>
        <LINK rel=stylesheet type=text/css href="{yun:}$com_style{/yun}style_wap/css/home.css">
	</head>
	<body>
	
{yun:}include file="$wapstyle/header_cont.htm"{/yun}




<div id="wrapper" class="home-bg home-bg-color temp-wrapper"  >
			   

<div id=scroller style="height:100%;overflow:hidden">
 
<TABLE class="home-div" style="width:100%;height:100%;" >
<TBODY>

<TR> 
<TD height=70% align=center vAlign=top >

<div class=home-menu-div  >
<p id="more" class="abox cutauchor " style="width:68px;height:68px;position:absolute; background-repeat:no-repeat; top:90px; left:83px;border-radius:100px; " href="{yun:}curl url=id:$id,style:wap{/yun}"><img src="{yun:}$com.logo{/yun}" style="width:68px;height:68px;border-radius:100px;"></p>

<table border="0" cellspacing="0" cellpadding="0" style="border-collapse:separate;width:100%;"><tr>

<td><TABLE style="BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px" class="abox cutauchor" >
<TBODY>
<TR>
<TD><a href="{yun:}curl url=id:$id,tp:post,style:wap{/yun}"><CANVAS style="BACKGROUND-IMAGE: url({yun:}$com_style{/yun}style_wap/images/zspx.png); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center" id=home-menu0 class=home-menu-listr href="{yun:}$com_style{/yun}style_wap/images/zspx.png" width="102px" height="80px"></CANVAS>
<P class=home-menu-text><SPAN class=" home-menu-text-color">职位招聘</SPAN></P></a></TD></TR></TBODY></TABLE></td>

<td><TABLE style="BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px" class="abox cutauchor" >
<TBODY>
<TR>
<TD><a href="{yun:}curl url=id:$id,tp:show,style:wap{/yun}"><CANVAS style="BACKGROUND-IMAGE: url({yun:}$com_style{/yun}style_wap/images/sszp.jpg); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center" id=home-menu1 class=home-menu-listr href="{yun:}$com_style{/yun}style_wap/images/sszp.jpg" width="102px" height="80px"></CANVAS>
<P class=home-menu-text><SPAN class=" home-menu-text-color">环境展示</SPAN></P></a></TD></TR></TBODY></TABLE></td>

<td><TABLE style="BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px" class="abox cutauchor" >
<TBODY>
<TR>
<TD><a href="{yun:}curl url=id:$id,tp:connection,style:wap{/yun}"><CANVAS style="BACKGROUND-IMAGE: url({yun:}$com_style{/yun}style_wap/images/sjhd.png); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center" id=home-menu2 class=home-menu-listr href="{yun:}$com_style{/yun}style_wap/images/sjhd.png" width="102px" height="80px"></CANVAS>
<P class=home-menu-text><SPAN class=" home-menu-text-color">联系方式</SPAN></P></a></TD></TR></TBODY></TABLE></td>

<td><TABLE style="BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px" class="abox cutauchor" >
<TBODY>
<TR>
<TD><a href="{yun:}curl url=id:$id,tp:about,style:wap{/yun}"><CANVAS style="BACKGROUND-IMAGE: url({yun:}$com_style{/yun}style_wap/images/gykiki.jpg); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center" id=home-menu3 class=home-menu-listr href="{yun:}$com_style{/yun}style_wap/images/gykiki.jpg" width="102px" height="80px"></CANVAS>
<P class=home-menu-text><SPAN class=" home-menu-text-color">企业资料</SPAN></P></a></TD></TR></TBODY></TABLE></td>

<td><TABLE style="BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px" class="abox cutauchor" >
<TBODY>
<TR>
<TD><a href="{yun:}curl url=id:$id,tp:news,style:wap{/yun}"><CANVAS style="BACKGROUND-IMAGE: url({yun:}$com_style{/yun}style_wap/images/kikinews.png); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center" id=home-menu4 class=home-menu-listr href="{yun:}$com_style{/yun}style_wap/images/kikinews.png" width="102px" height="80px"></CANVAS>
<P class=home-menu-text><SPAN class=" home-menu-text-color">最新动态</SPAN></P></a></TD></TR></TBODY></TABLE></td>


<td><TABLE style="BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px" class="abox cutauchor" >
<TBODY>
<TR>
<TD><a href="{yun:}curl url=id:$id,tp:product,style:wap{/yun}"><CANVAS style="BACKGROUND-IMAGE: url({yun:}$com_style{/yun}style_wap/images/kcsj.jpg); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center" id=home-menu5 class=home-menu-listr href="{yun:}$com_style{/yun}style_wap/images/kcsj.jpg" width="102px" height="80px"></CANVAS>
<P class=home-menu-text><SPAN class=" home-menu-text-color">产品展示</SPAN></P></a></TD></TR></TBODY></TABLE></td></tr></table>
</div>

</TD></TR>

<TR> 
<TD ></TD></TR>

</TBODY></TABLE> 

</DIV>
</div>
	<SCRIPT>
	function Draw(obj) {
	
	var oC1=document.getElementById(obj)
	var oC=oC1.getContext("2d");
	var image=new Image();
   
	image.src=oC1.getAttribute("href");
var   title=oC1.getAttribute("title");
	image.addEventListener("load",function(){
	oC.beginPath();
   oC.moveTo(24,2);
	oC.lineTo(71,2);
	oC.lineTo(92,42);
	oC.lineTo(69,79);
	oC.lineTo(24,79);
	oC.lineTo(2,42);
	oC.lineTo(24,2);
    oC.closePath();
	oC.strokeStyle="#fff"
    oC.lineWidth=2.5;
  
   // oC.fill();
	oC.stroke();
	
	
	oC.clip();
	oC.drawImage(image,(96-image.width)/2,(96-image.height)/2,image.width,image.height);
	
	oC.beginPath();
   oC.moveTo(24,2);
	oC.lineTo(71,2);
	oC.lineTo(92,42);
	oC.lineTo(69,79);
	oC.lineTo(24,79);
	oC.lineTo(2,42);
	oC.lineTo(24,2);
    oC.closePath();
	oC.strokeStyle="#fff"
    oC.lineWidth=2.5;
  
   // oC.fill();
	oC.stroke();
	
},false)
	}

   $(".temp-update").css("top", 0);
   $(".temp-autoupdate").css("top", 0);
   $("#title").html("{yun:}$com.name{/yun}"); 
   $(function(){
$("#home-menu0").css({"position":"absolute","left":"72px","top":"0px","width":"98px","height":"80px","background":"none"});
$("#home-menu1").css({"position":"absolute","right":"0px","top":"42px","width":"98px","height":"80px","background":"none"});
$("#home-menu2").css({"position":"absolute","right":"0px","top":"127px","width":"98px","height":"80px","background":"none"});
$("#home-menu3").css({"position":"absolute","left":"72px","top":"170px","width":"98px","height":"80px","background":"none"});
$("#home-menu4").css({"position":"absolute","left":"0px","top":"127px","width":"98px","height":"80px","background":"none"});
$("#home-menu5").css({"position":"absolute","left":"0px","top":"42px","width":"98px","height":"80px","background":"none"});
$("#home-menu0").next().css({"position":"absolute","left":"102px","top":"20px","width":"32px","height":"80px","zIndex":"2222222222"});
$("#home-menu1").next().css({"position":"absolute","right":"36px","top":"62px","width":"32px","height":"80px","zIndex":"2222222222"});
$("#home-menu2").next().css({"position":"absolute","right":"36px","top":"146px","width":"32px","height":"80px","zIndex":"2222222222"});
$("#home-menu3").next().css({"position":"absolute","left":"102px","top":"186px","width":"32px","height":"80px","zIndex":"2222222222"});
$("#home-menu4").next().css({"position":"absolute","left":"30px","top":"146px","width":"32px","height":"80px","zIndex":"2222222222"});
$("#home-menu5").next().css({"position":"absolute","left":"30px","top":"62px","width":"32px","height":"80px","zIndex":"2222222222"});

$("#footer").css("bottom","18px")
$(".home-menu-div").css("marginTop",$(document).height()/2-30-($(".home-menu-div").height()/2))


Draw("home-menu0");
Draw("home-menu1");
Draw("home-menu2");
Draw("home-menu3");
Draw("home-menu4");
Draw("home-menu5");
$("#update").css("top","50px");
$("#autoupdate").css("top","50px");
$(".temp-wrapper").css("marginTop","0px");

})

   
</SCRIPT>

	{yun:}include file="$comstyle/footer.htm"{/yun}
</html>

