
<!DOCTYPE html>
<html lang="zh-cn" class="no-js">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
		<meta content="text/html; charset=utf-8">
		<meta charset="utf-8">
		<title>{yun:}$com.name{/yun}</title>
        <link rel="stylesheet" type="text/css" href="{yun:}$com_style{/yun}style_wap/css/pro-msg.css" />
		<link rel="stylesheet" type="text/css" href="{yun:}$com_style{/yun}css/wap.css"/>
		

<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layer/layer.min.js" language="javascript"></script> 
<script src="{yun:}$config.sy_weburl{/yun}/js/lazyload.min.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/public.js" language="javascript"></script>
<link rel="stylesheet" href="{yun:}$com_style{/yun}/images/comapply.css" type="text/css">
<script src="http://api.map.baidu.com/api?v=1.4"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/map.js" language="javascript"></script>


	</head>
	<body>
{yun:}include file="$wapstyle/header_cont.htm"{/yun}

    <!--中开始-->


<div id="wrapper" class="temp-wrapper"><div id="scroller" class="temp-scroller"><div class="pro-msg-div"><table class="pro-msg-single-div">
    <tbody>
    <tr>
        <td class="pro-msg-bg pro-msg-top1"></td>
        <td class="pro-msg-bg pro-msg-top2"></td>
        <td class="pro-msg-bg pro-msg-top3"></td>
    </tr>
    <tr>
        <td class="pro-msg-bg pro-msg-left"></td>
        <td class="pro-msg-bg pro-msg-center">     
        <br />
        <div class="pro-msg-text2" >地理位置</div>
      

<div class="news_cont_ms">查看公司所在位置</div>
<br>

{yun:}if $com.y!='' && $com.x!=''{/yun}
       <div id="map_container" style="width:100%;height:350px;"></div>
   <script>
  getmapshowcont('map_container',"{yun:}$com.x{/yun}","{yun:}$com.y{/yun}","{yun:}$com.name{/yun}","{yun:}$com.address{/yun}");
  </script>
  {yun:}else{/yun}
<div class="comapply_no_msg"> <div class="comapply_no_msg_cont"><span></span><em>该公司还没有标注地理位置!</em></div></div>
{yun:}/if{/yun}


	
		
		</td>
        <td class="pro-msg-bg pro-msg-right"></td>
    </tr>
    <tr>
        <td class="pro-msg-bg pro-msg-bottom1"></td>
        <td class="pro-msg-bg pro-msg-bottom2"></td>
        <td class="pro-msg-bg pro-msg-bottom3"></td>
    </tr>
    </tbody>
</table>

</div></div></div>






<SCRIPT>
   $("#title").html("公司位置"); 
</SCRIPT>

 
    <!--中结束-->

	{yun:}include file="$comstyle/footer.htm"{/yun}
</html>

